@model DostDestek.Entity.Topic
@{
    ViewBag.Title = "AddTopic";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddTopic</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Topic</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TopicName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TopicName)
            @Html.ValidationMessageFor(model => model.TopicName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

}


